.codigo {
    font-family: 'Source Code Pro' !important;
    letter-spacing: -1px;
}

.sec{
    border-bottom-left-radius: 30px;
}

.frente{
    width: 95%;
    height: 95%;
    padding: 2.5%;
    z-index: 1;
}

.tras{
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.vr-container, .sp-container{
    width: 20%;
    height: 20%;
}

.vr, .sp{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sp{
    width: 70%;
    height: 70%;
    margin-top: 15px;
    margin-left: 15px;
}

.vr.verde{
    background-image: url('.../../../../../Components/backgroundCSS.svg');
}

.vr.vermelho{
    background-image: url('.../../../../../Components/backgroundHTML.svg');
}

.vr.amarelo{
    background-image: url('.../../../../../Components/backgroundJS.svg');
}

.sp.verde{
    background-image: url('.../../../../../Components/iconCSS.svg');
}

.sp.vermelho{
    background-image: url('.../../../../../Components/iconHTML.svg');
}

.sp.amarelo{
    background-image: url('.../../../../../Components/iconJS.svg');
}
