.txt{
    border-radius: 10px 10px 0px 0px;
    color: #419E9E;
}

details.details{
    transition: all 0.4s ease-in-out;
    max-height: 200px;
    overflow: hidden;
}

details[open].details{
    background: rgba(0, 0, 0, 0.1);
    max-height: 500px;
}

details[open].details summary{
    padding-bottom: 1em;
    font-weight: 600;
}

details.radius{
    border-radius: 0px 0px 10px 10px;
}

details:nth-child(5n){
    border-radius: 0px 0px 10px 10px;
}
