li {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
}

:root {
  --color: #E88D59
}

ul.slick-dots li.slick-active button:before {
  color: var(--color) !important;
}

.slick-dots {
  bottom: -50px !important;
}

.slick-dots li button:before {
  font-size: 20px !important;
  color: #d9d9d9 !important;
  opacity: 1 !important;
}

.svgindex {
  z-index: 100 !important;
}