li {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
}

:root {
  --color: #E88D59
}

.slick-active button:before {
  color: var(--color) !important;
}

.slick-dots li button:before {
  font-size: 20px !important;
}