.container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.logotitle {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 2vh;
  margin: auto;
}

.logo {
  width: 15vw;
  height: auto;
}

.titlelogo {
  font-size: 5vw;
  font-weight: 700;
  color: #323232;
  text-align: left;
  line-height: 12vh;
  margin: 0;
}

.block {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vw;
  width: 40vw;
  border-radius: 20px;
  z-index: 5;
  position: relative;
}

.crianca {
  background-color: #b461a9;
}

.responsavel {
  background-color: #63d5a4;
}

.crianca::before {
  position: absolute;
  top: 0;
  display: block;
  content: " ";
  z-index: -2 !important;
  width: 40vw;
  height: 35vw;
  background-color: #f4e5f9;
  transform: rotate(-8deg);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.responsavel::before {
  position: absolute;
  top: 0;
  display: block;
  content: " ";
  z-index: -2 !important;
  width: 40vw;
  height: 35vw;
  background-color: #e5e9f9;
  transform: rotate(-8deg);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.svg {
  position: fixed;
  width: 200px;
}

.topleft {
  top: 0;
  left: 0;
}

.botleft {
  bottom: 0;
  left: 0;
}

.botright {
  bottom: 0;
  right: 0;
}

.input {
  width: 60%;
  border: none;
  height: 9vh;
  margin: 2vh 0;
  color: #000;
  background-color: #c4bcc7;
  outline: none;
  border-radius: 5px;
  padding: 0 2vw;
  font-size: 14pt;
  font-family: "Poppins";
  font-weight: 600;
}

.password {
  width: 24vw !important;
}

.input::placeholder {
  color: #000;
  font-weight: 700;
  font-family: "Poppins";
}

.buttonform {
  width: 35%;
  background-color: #c4bcc7;
  border: none;
  height: 9vh;
  margin: 5vh 0;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14pt;
  transition: all .2s linear !important;
}

.buttonform:hover {
  cursor: pointer;
  opacity: .7;
}

.buttonform:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.sublink {
  font-size: 14pt;
}

.link {
  font-weight: 700;
}

.link:hover {
  transform: scale(1.04);
}

.linkcrianca {
  background: linear-gradient(0deg,
      rgba(146, 47, 190, 1) 0%,
      rgba(251, 209, 145, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkresponsavel {
  background: linear-gradient(0deg, #1d74dd 0%, #3bf25f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background-color: transparent !important;
  border: 0;
  outline: none;
  color: #323232;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.5vw;
  margin: 0 2vw;
  cursor: pointer;
}

.btnresponsavel:last-child::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000;
  width: 80%;
  margin: auto;
}

.btncrianca:first-child::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000;
  width: 80%;
  margin: auto;
}

.senha {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: fit-content;
}

.eye {
  position: absolute;
  right: 1em;
  color: #000;
  font-size: 1.5vw;
  cursor: pointer;
}