@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Source+Code+Pro:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.1s linear;
  box-sizing: border-box;
  font-family: "Poppins" !important;
}

::selection {
  background-color: #b461a9;
  color: #fff;
}

.Toastify__toast-body div {
  font-family: "Poppins" !important;
}
