@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins";
}

* {
  transition: all 0.3s linear;
  box-sizing: border-box;
}

::selection {
  background-color: #b461a9;
  color: #fff;
}

.Toastify__toast-body div {
  font-family: "Poppins" !important;
}
